* {
    background-color: #F9FAF4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Code for the body */

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box {
    width: 100%;
    padding: 3px;
}

/* Code for the header */

.header {
    background-color: #4A6163;
    height: 65px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    background-color: #4A6163;
}

.header-links > p {
    background-color: #4A6163;
}

h1 {
    background-color: #4A6163;
    font-size: 200%;
    text-align: center;
    padding: 4px;
    color: #F17A7E;
}

.header-img {
    background-image: url("../../assets/images/header-img.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 24.41%;
}

.header-img > p {
    background-color: transparent;
    font-weight: bold;
    color: #4A6163;
    max-width: fit-content;
    margin: 10px;
}

.header-links > p > a {
    text-decoration: none;
    background-color: transparent;
    color: #F9FAF4;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: end;

}
/* Code for content areas */

h2 {
    text-align: center;
    margin: 6px auto;
    max-width: fit-content;
    border-bottom: 1px dashed #FFC94B;
    color: #F9A66C;
}

#profile-img {
    border-radius: 50%;
}

.content {
    text-align: center;
}

#bio {
    line-height: 1.5;
    color: #4A6163;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: space-around;
    color: #4A6163;
    font-style: italic;
}

/* Work cards */

.card {
    width: 98%;
    height: 100px;
    margin-bottom: 5px;
}

.first {
    height: 200px;
    background-image: url("../../assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
}

.card-a {
    background-image: url("https://as1.ftcdn.net/v2/jpg/01/27/62/10/1000_F_127621002_0EQfE7omvvKWyeOwU10PLJuRvnXfDon4.jpg");
    background-size: cover;
}

.card-b {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/22/59/02/1000_F_222590213_3SNfA2FZpVeDozr8xIojsblCduoXamCT.jpg");
    background-size: cover;
}

.card-c {
    background-image: url("https://as1.ftcdn.net/v2/jpg/02/16/69/04/1000_F_216690453_Gr2trrWnvsV1gnwVXIytuu7Xd4EN1YP7.jpg");
    background-size: cover;
}

.card-d {
    background-image: url("https://as1.ftcdn.net/v2/jpg/04/19/88/84/1000_F_419888446_P7S1LROpN9ipTdDp30UH5MBUvqKg1QGH.jpg");
    background-size: cover;
}

.card-link {
    background-color: #4A6163;
    width: fit-content;
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
}

.card-link > a {
    text-decoration: none;
    background-color: transparent;
    color:#F17A7E;
    font-weight: bold;
}


@media screen and (min-width: 900px){
    .header-img {
    width: 880px;
    height: 215px;
    padding-top: 0;
    margin: 0 auto;
    }
}
