* {
    background-color: #F9FAF4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Code for the header */
header {
    display: flex;
    background-color: #4A6163;
    color: #F9FAF4;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 20px;
}

h1 {
    background-color: #4A6163;
    color: #F17A7E;
}

/* Code for the cover image */
img {
    max-width: 780px;
}

.cover {
    display: flex;
    justify-content: center;
}

/* Code for the body */
.wrapper {
    display: grid;
    grid-gap: 6px;
    grid-template-columns: [col] 1fr [col] 1fr [col] 1fr;
    grid-template-rows: auto;
}

.box {
    padding: 5px;
}

.sidebar {
    text-align: right;
    border-right: 1px solid black;
}

.content {
    grid-column: col 2 / span 2;
    background-color: #E7EAD1;
}

section {
    border: 1px solid blue;
}

/* Code for the footer */
footer {
    border: 1px solid purple;
}
